<div class='post_container'>
<h1><div id="title"><%= @post.title %></div></h1>


<div id="postbody">
  <%= @post.body %>
</div>

  Tags:<% @post.tags.each do |tag| %>
  <div id="tag"><img src="http://0.tqn.com/d/graphicssoft/1/0/4/M/1/Fall-Leaves-Tag1.png" id="tagimage">
  <a href="/tag/<%=tag.id %>"><%= tag.tag %></a></div>
  <% end %>
  
</div>


<div id="author">
  <% author = User.find(@post.user_id) %>
  <% if session[:user_id] != author.id %>
  Author: <a href="/users/<%=author.id%>/posts"><%= author.first_name %> <%= author.last_name%></a>
  <%end%>
</div>
<div id="back"><a href="/users">Back</a></div>
<a href="/">Go back home because YOLOSWAG</a>

